#header {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #222;
  background-image: -webkit-linear-gradient(270deg, #262626, #1a1a1a);
  background-image: linear-gradient(180deg, #262626, #1a1a1a);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#header .hide {
  display: none;
}
.tb-container {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
.tb-container:before,
.tb-container:after {
  display: table;
  content: "";
}
.tb-container:after {
  clear: both;
}
.tb-container .logo {
  float: left;
  margin-right: 10px;
  display: block;
  width: 90px;
  height: 40px;
  overflow: hidden;
}
.tb-container .logo .default-logo {
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0) 0 0;
  height: 40px;
  width: 90px;
  display: block;
}
.m-apps {
  float: left;
  display: block;
  margin: 8px 15px 0 0;
  width: 82px;
  height: 24px;
  border-radius: 3px;
  background: #2D2D2D;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  color: #ABABAB;
  text-decoration: none;
}
.m-apps .icon-mobile {
  margin-right: 6px;
  width: 9px;
  height: 14px;
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0) 0 -40px;
  display: inline-block;
  position: relative;
  top: 3px;
  left: 1px;
}
.tb-search {
  position: relative;
  float: left;
  margin-top: 7px;
}
.tb-search .tb-search-form {
  *zoom: 1;
  width: 200px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 26px;
  border: 1px solid #141414;
  border-radius: 3px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 #2a2a2a;
  background: #4E4E4E;
  padding: 1px 6px;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
}
.tb-search .tb-search-form:before,
.tb-search .tb-search-form:after {
  display: table;
  content: "";
}
.tb-search .tb-search-form:after {
  clear: both;
}
.tb-search .tb-search-form .icon-search {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0) 0 -60px;
}
.tb-search .tb-search-form .tb-search-input {
  outline: none;
  float: left;
  width: 143px;
  height: 18px;
  font-size: 12px;
  color: #222;
  top: 2px;
  position: relative;
  background: none;
  border: none;
}
.tb-search .tb-search-form .icon-loading {
  display: block;
  float: right;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../../../images/topbar-search-loading.gif");
  background-repeat: no-repeat;
  margin-top: 5px;
}
.tb-search .tb-search-form .icon-clear {
  cursor: pointer;
  display: block;
  float: right;
  width: 14px;
  height: 14px;
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0) -40px -60px;
  margin-top: 3px;
}
.tb-search .search-result {
  position: absolute;
  z-index: 20;
  top: 30px;
  display: none;
  width: 365px;
  background: #ECECEC;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.tb-search .search-result .search-item {
  list-style: none;
  *zoom: 1;
  padding: 5px 0;
  padding-left: 10px;
}
.tb-search .search-result .search-item:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.tb-search .search-result .search-item:before,
.tb-search .search-result .search-item:after {
  display: table;
  content: "";
}
.tb-search .search-result .search-item:after {
  clear: both;
}
.tb-search .search-result .search-item .sr-logo {
  float: left;
  height: 32px;
  width: 32px;
}
.tb-search .search-result .search-item .sr-name,
.tb-search .search-result .search-item .sr-price {
  float: left;
  line-height: 32px;
  display: block;
  padding: 0 10px;
  font-size: 14px;
  font-size: 0.875rem;
}
.tb-search .search-result .search-no-result {
  padding: 15px 20px;
  font-size: 14px;
  font-size: 0.875rem;
}
.tb-search .search-result .search-cate {
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 55px;
  padding: 20px 0 20px 20px;
  color: #555;
  font-size: 13px;
}
.tb-search .search-result .search-list {
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 310px;
  margin: 0;
  padding: 10px 0;
  background: #FFF;
  border-left: 1px solid #D7D7D7;
}
.tb-nav {
  float: right;
  position: relative;
}
.tb-nav .tb-site-nav {
  float: left;
  margin: 10px 0;
  margin-right: 25px;
}
.tb-nav .tb-site-nav li {
  float: left;
}
.tb-nav .tb-site-nav li.tb-hr:after {
  content: "";
  width: 1px;
  position: relative;
  top: -2px;
  height: 14px;
  border-right: 1px solid #666;
}
.tb-nav .tb-site-nav .tb-site-nav-link {
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  color: #CCC;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  padding: 0 12px;
}
.tb-nav .tb-site-nav .tb-site-nav-link.last {
  margin-right: 10px;
}
.tb-nav .icon-cart {
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0) 0 -80px;
}
.tb-nav .icon-msg {
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0) -20px -80px;
}
.tb-nav .tb-cart-dropdown-wrapper,
.tb-nav .tb-msg-dropdown-wrapper {
  word-break: break-all;
  width: 280px;
  position: absolute;
  display: none;
  top: 37px;
  right: 115px;
  padding-top: 3px;
  background: #FFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  z-index: 21;
}
.tb-nav .tb-cart-dropdown-wrapper:after,
.tb-nav .tb-msg-dropdown-wrapper:after {
  content: "";
  position: absolute;
  top: -5px;
  left: auto;
  right: 29px;
  display: inline-block;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #FFF;
}
.tb-nav .tb-msg-dropdown-wrapper {
  right: 80px;
}
.tb-nav .tb-cart-dropdown,
.tb-nav .tb-msg-dropdown {
  position: relative;
  background: #FFF;
  z-index: 20;
  text-align: center;
}
.tb-nav .f-loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../../../images/gif-loader.gif") no-repeat rgba(0, 0, 0, 0);
}
.tb-nav .tb-widget-empty {
  font-size: 14px;
  color: #222;
  padding: 10px;
  margin: 0 auto;
}
.topbar-user-nav,
.tb-msg,
.tb-cart {
  float: left;
  margin-top: 10px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #CCC;
}
.topbar-user-nav i,
.tb-msg i,
.tb-cart i {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.tb-cart-link,
.tb-msg-link {
  padding-right: 8px;
}
.topbar-user-nav .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #666;
  vertical-align: middle;
}
.tb-cart,
.tb-msg {
  margin-right: 10px;
}
.tb-username {
  color: #CCC;
}
.tb-user-dropdown {
  display: none;
  margin-top: 0;
  top: 37px;
  right: 0;
  width: 100px;
  background: #FFF;
  padding: 5px 0!important;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  position: absolute;
  z-index: 100;
}
.tb-user-dropdown:after {
  content: "";
  position: absolute;
  top: -5px;
  left: auto;
  right: 30px;
  display: inline-block;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #FFF;
}
.tb-user-dropdown ul,
.tb-user-dropdown li {
  padding: 0;
  margin: 0;
}
.tb-user-dropdown li {
  padding: 6px 0 4px 15px;
}
.tb-user-dropdown a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  color: #222;
}
.tb-user-dropdown .divider {
  height: 1px;
  width: 100%;
  background-color: #E0E0E0;
  padding: 0;
}
.tb-user-dropdown .icon-profile,
.tb-user-dropdown .icon-fav,
.tb-user-dropdown .icon-address,
.tb-user-dropdown .icon-config,
.tb-user-dropdown .icon-logout {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  background: url("../../../images/topbar.png") no-repeat rgba(0, 0, 0, 0);
}
.tb-user-dropdown .icon-profile {
  background-position: 0 -100px;
}
.tb-user-dropdown .icon-fav {
  background-position: -20px -100px;
}
.tb-user-dropdown .icon-address {
  background-position: -40px -100px;
}
.tb-user-dropdown .icon-config {
  background-position: -60px -100px;
}
.tb-user-dropdown .icon-logout {
  background-position: -80px -100px;
}
.tb-cart-dropdown-wrapper .tcart-title {
  display: block;
  margin: 10px 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
}
.tb-cart-dropdown-wrapper .tcart-restaurant {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #444;
}
.tb-cart-dropdown-wrapper .tcart-cost {
  float: right;
  margin-top: -2px;
  color: #FE6000;
  font-size: 20px;
}
.tb-cart-dropdown-wrapper .tcart-cost .symbol-rmb {
  font-size: .8em;
}
.tb-cart-dropdown-wrapper .tcart-content {
  padding: 0 20px;
  max-height: 290px;
  overflow-y: auto;
}
.tb-cart-dropdown-wrapper .tcart-list {
  margin: 15px 0 20px;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  color: #222;
}
.tb-cart-dropdown-wrapper .tcart-item {
  margin-bottom: 15px;
  font-size: 14px;
}
.tb-cart-dropdown-wrapper .tcart-item .tcart-dish {
  font-size: 13px;
}
.tb-cart-dropdown-wrapper .tcart-item .tcart-amount {
  color: #999;
  font-weight: bold;
}
.tb-cart-dropdown-wrapper .tcart-item .tcart-price {
  float: right;
  color: #222;
}
.tb-cart-dropdown-wrapper .twidget-footer {
  height: 48px;
  padding: 0 20px;
  border-top: 1px solid #D7D7D7;
  border-radius: 0 0 3px 3px;
  background: #ECECEC;
  color: #555;
  font-size: 12px;
  text-align: right;
}
.tb-cart-dropdown-wrapper .twidget-btn {
  display: inline-block;
  width: 64px;
  height: 26px;
  margin: 10px 0 0 0;
  border: 1px solid #B9B9B9;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #E0E0E0;
  background-image: -webkit-linear-gradient(270deg, #f3f3f3, #e0e0e0);
  background-image: linear-gradient(180deg, #f3f3f3, #e0e0e0);
  color: #222;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
}
