.header{
	width: 860px;
	padding: 25px 0px;
	margin: 0px auto 25px;
}


.content{
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	padding: 26px 0px;
}

.content_banner{
	float: left;
	width: 480px;
}

.content_form{
	float: right;
	margin: 0px 0px 0px 50px;
	background: none repeat scroll 0% 0% #F8F8F8;
	border: 1px solid #D5D5D5;
	position: relative;
	width: 280px;
	padding: 25px 20px 30px;
	font-size: 14px;
}
