.content-header {
  border-bottom: 1px solid #E8E8E8;
  padding: 10px 15px;
  overflow: hidden;
  word-break: break-all;
  *zoom: 1;
}
.content-header:before,
.content-header:after {
  display: table;
  content: "";
}
.content-header:after {
  clear: both;
}
.content-header h2 {
  font: bold 18px/1.5 tahoma, sans-serif;
  float: left;
  text-rendering: optimizelegibilit;
  margin: 0;
}
.content-inner {
  padding: 15px;
  color: #555;
}
.content-inner .alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 4px;
  color: #C09853;
  font-size: 13px;
}
.content-inner .alert {
  color: #333;
  background-color: #FCEEC1;
  background-image: -webkit-linear-gradient(270deg, #fceec1, #eedc94);
  background-image: linear-gradient(180deg, #fceec1, #eedc94);
}
.content-inner .alert {
  margin-bottom: 15px;
  padding: 8px 15px;
  border: 1px solid #FACB70;
  border-radius: 0;
  background: #F8E5C0;
  color: #555;
}
.content-inner .gray-box {
  background-color: #EEE;
  padding: 15px;
}
.content-inner p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.content-inner .user-safety-level.low {
  background-position: 0 -90px;
  color: #F00;
}
.content-inner .user-safety-level.middle {
  background-position: 0 -100px;
  color: #FB7823;
}
.content-inner .user-safety-level.high {
  background-position: 0 -110px;
  color: #5AAB04;
}
.content-inner .user-safety-level {
  display: inline-block;
  padding-left: 82px;
  height: 10px;
  line-height: 10px;
  background: url("../../../images/sprites.png") no-repeat 0 0;
}
.content-inner .security-settings-wrapper {
  width: 100%;
  border: 1px solid #CCC;
  table-layout: auto;
  margin: 15px 0;
}
.content-inner table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: rgba(0, 0, 0, 0);
}
.content-inner .security-settings-wrapper tr {
  border-bottom: 1px solid #CCC;
}
.content-inner .security-settings-wrapper th {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}
.content-inner .security-settings-wrapper td {
  padding: 15px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
}
.content-inner .security-settings-wrapper i.icon-impt {
  background-position: 0 -130px;
}
.content-inner .security-settings-wrapper i {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url("../../../images/sprites.png") no-repeat 0 0;
  background-repeat: no-repeat;
}
.content-inner .security-settings-wrapper .info {
  border-left: 1px solid #CCC;
  padding: 0 15px;
  text-align: left;
}
.content-inner .security-settings-wrapper p {
  margin: 0 0 5px 0;
}
.content-inner .security-settings-wrapper i.icon-check {
  background-position: 0 -150px;
}
.content-inner .security-settings-wrapper i.icon-impt {
  background-position: 0 -130px;
}
