/*home模板的样式*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	font: 13px Helvetica, Arial, sans-serif;
	line-height: 1.62;
}
.yahei {
	font-family: STHeiti, "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}

#content{
	width: 960px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.sidebar {
	float: left;
	padding: 8px 0px;
	border: 1px solid #F0F0F0;
	width: 216px;
	background: none repeat scroll 0% 0% #FFF;
}

.rightContent {
	float: right;
	border: 1px solid #CCC;
	width: 700px;
	min-height: 537px;
	background: none repeat scroll 0% 0% #FFF;
}

.content_inner{
	padding: 15px;
}
.content_header h2{
	font: bold 18px/1.5 tahoma,sans-serif;
	float: left;
	margin: 0;
}
.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(top,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    cursor: pointer;
}
.btn:hover{
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
}
.btn:active{
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color: #d9d9d9;
    outline: 0;
}

.btn-yellow{
	background-color: #FFF4AE;
	background-image: linear-gradient(180deg, #FFF4AE, #FDEF83);,
}
.btn-yellow:hover {
    background-color: #fee780;
    background-image: -webkit-linear-gradient(270deg, #fee780, #fff7c2);
    background-image: linear-gradient(180deg, #fee780, #fff7c2);
    background-position: 0 0;
}
.content_header:before, .content-header:after {
	display: table;
	content: " ";
	line-height: 0;
}

.content_header{
	border-bottom: 1px solid #E8E8E8;
	padding: 10px 15px;
	overflow: hidden;
}


.content_inner{
	padding: 15px;
}
