
.collection-row-colse {
	background: url("../../../../images/restaurant_closed_bg.png");
	color: #999;
}
.collection-row-colse span {
	color: #999 !important;
}
.collection-row-colse p {
	color: #999 !important;
}
.collection-row-colse div.logo img {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

.collection-row-none {
	padding: 0;
	width: 191px;
	height: 92px;
}
.collection-row-none .add {
	background: #ffffff url("../../../../images/bg.gif") no-repeat -112px -94px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-align: left;
	height: 92px;
}
.collection-row-none .add:hover {
	background: #ffffff url("../../../../images/bg.gif") no-repeat -303px -94px;
}
