

.shops {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #f5f5f5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}
.shops .shops-header {
	font-size: 14px;
	line-height: 32px;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, white, whitesmoke);
	background-image: -ms-linear-gradient(top, white, whitesmoke);
	background-image: -webkit-linear-gradient(top, white, whitesmoke);
	background-image: -o-linear-gradient(top, white, whitesmoke);
	background-image: linear-gradient(top, white, whitesmoke);
	padding: 0 10px;
}

.shops .shops-header span.fliter {
	margin-top: 11px;
	margin-right: 10px;
	border-right: 1px dashed #000;
	height: 17px;
	margin-left: 10px;
}

.shops .shop_activities {
	font-size: 14px;
	line-height: 32px;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, white, whitesmoke);
	background-image: -ms-linear-gradient(top, white, whitesmoke);
	background-image: -webkit-linear-gradient(top, white, whitesmoke);
	background-image: -o-linear-gradient(top, white, whitesmoke);
	background-image: linear-gradient(top, white, whitesmoke);
	padding: 0 10px;
}

.shops .shop_container {
	margin-bottom: 0px;
	border-collapse: separate;
	border-radius: 0px;
}

.shops .shops-header .flavor_block {
	display: block;
	float: left;
	position: relative;
}
.shops .shops-header .drop_button {
	cursor: pointer;
	width: 59px;
	display: block;
	text-align: center;
	line-height: 40px;
	position: relative;
	top: -1px;
}

.shops .shops-header .drop_button.active{
	background:  none repeat scroll 0% 0% #F0F0F0;;
}
.shops .shops-header .flavor_block ul {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 100%;
	left: 0;
	background: #F0F0F0;
	z-index: 1000;
}
.shops .shops-header .flavor_block li {
	list-style: none;
	width: 59px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

.shops .shops-header .flavor_block li:hover {
	background: #fff;
}


.shops .shop_activities span.activities-btn {
	float: left;
	cursor: pointer;
	margin-right: 30px;
	line-height: 32px;
	font-size: 14px;
	display: inline-block;
}
.shops .shops-header span {
	float: left;
	line-height: 40px;
	cursor: pointer;
	margin-right: 5px;
	word-break: break-all;
}
.shops b{
	font-weight: normal;
}

.shops .shops-header input {
	vertical-align: 2px;
}

