.more_shops {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}
.more_shops .more_shops-header {
  font-size: 14px;
  line-height: 32px;
  color: #333;
  border-bottom: 1px solid #ccc;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
}
.more_shops .more_shops-header .title {
  margin-left: 10px;
}
