.ads{
    width: 1010px;
    margin: 30px auto;
}
.ads a{
    float: left;
    display: block;
    width: 150px;
    height: 93px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    margin: 0 26px;
}
.ads img{
    width: 148px;
    height: 91px;
    margin: 1px;
}
