.collection {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #f5f5f5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	height: 125px;
	overflow: hidden;
	margin-bottom: 15px;
}


.collection-header {
	font-size: 14px;
	line-height: 32px;
	color: #333;
	border-bottom: 1px solid #ccc;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
}
.collection-header .title {
	margin-left: 10px;
}
.collection-header .set {
	float: right;
	margin-right: 10px;
	color: #999;
}
.collection-row {
	width: 960px;
	height: 92px;
}
