/*home模板的样式*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	font: 13px Helvetica, Arial, sans-serif;
	line-height: 1.62;
    background: #e4e4e4;
}
.yahei {
	font-family: STHeiti, "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}

#content{
}
a{
	text-decoration: none;
}

.shop_header{
    margin-bottom: 14px;
    height: 92px;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
}

.shop_container{
	position: relative;
	margin: 0px auto;
	width: 1140px;
}

.shop_left {
	float: left;
	margin-right: 14px;
	width: 846px;
}

.shop_right{
	float: right;
	width: 280px;
}


.shop_chart{
	position: fixed;
	right: 50%;
	margin-right: -585px;
	bottom: 0px;
	z-index: 10;
	width: 310px;
	height: 38px;
	outline: 1px solid #000;
}