/*home模板的样式*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	font: 13px Helvetica, Arial, sans-serif;
	line-height: 1.62;
    background: #e4e4e4;
}
.yahei {
	font-family: STHeiti, "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
}

#content{
}
a{
	text-decoration: none;
}

.shop_header{
    margin-bottom: 14px;
    height: 92px;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
}

.shop_container{
	position: relative;
	margin: 0px auto;
	width: 1140px;
}

.shop_left {
	float: left;
	margin-right: 14px;
	width: 846px;
}

.shop_right{
	float: right;
	width: 280px;
}


.shop_chart{
	position: fixed;
	right: 50%;
	margin-right: -585px;
	bottom: 0px;
	z-index: 10;
	width: 310px;
	height: 38px;
	outline: 1px solid #000;
}

/* 左侧弹出框 */
.pop_window{
	position: fixed;
    z-index: 31;
    top: 0;
    left: -400px;
    width: 376px;
    height: 100%;
    background: #f9f9f9;
    -webkit-transition: left 0.3s ease 0;
    -moz-transition: left 0.3s ease 0;
    -o-transition: left 0.3s ease 0;
    -ms-transition: left 0.3s ease 0;
    font-family: "microsoft yahei";
}

/* 玻璃罩 */
.u-mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	overflow-y:scroll;
	overflow-x:hidden;
	display: none;
}

/* 最右侧收藏按钮 */
.shop_collect_bar{
	position: absolute;
	left: 50%;
	top: 165px;
	width: 54px;
	background: red;
	margin-left: 584px;
}