div,
p,
td,
th,
li {
  word-break: break-all;
}
.recent_month {
  font-size: 13px;
  float: right;
  border: 1px solid #ccc;
  width: 700px;
  min-height: 537px;
  background: white;
  color: #555;
}
.recent_month .header {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  overflow: hidden;
}
.recent_month .header h2 {
  font: bold 18px/1.5 tahoma, sans-serif;
  float: left;
  color: #555;
  margin: 0;
}
.recent_month .inner {
  padding: 15px;
}
.recent_month .inner .order_form {
  border: 1px solid #a6c9e2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.recent_month .inner .order_form .order_comment {
  margin: 0 0 15px;
  width: 370px;
  display: none;
}
.recent_month .inner .order_form .order_comment textarea {
  resize: none;
  width: 360px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: top;
}
.recent_month .inner .order_form .order_comment textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}
.recent_month .inner .order_form .order_comment input {
  display: none;
}
.recent_month .inner .order_form .order_header {
  background: #eff8ff;
  border-bottom: 1px solid #a6c9e2;
  padding: 10px;
}
.recent_month .inner .order_form .order_header .order_wrapper {
  height: 32px;
  margin: -6px 0 0 -16px;
}
.recent_month .inner .order_form .order_header .order_wrapper .order_title {
  float: left;
  font-size: 16px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #DDD;
  padding: 3px 19px 3px 14px;
}
.recent_month .inner .order_form .order_header .order_wrapper .finish {
  border: 3px solid #a7e18b;
  color: #2b7c28;
}
.recent_month .inner .order_form .order_header .order_wrapper .unfinish {
  border: 3px solid #ccc;
  color: #666;
}
.recent_month .inner .order_form .order_header .order_wrapper .refund {
  float: left;
  border: 1px #cdcdcd solid;
  background-color: #fffdd5;
  font-size: 13px;
  color: #ff2500;
  margin: 3px 0 0 25px;
  padding: 3px 8px;
  position: relative;
  left: -12px;
}
.recent_month .inner .order_form .order_header .order_wrapper .refund span {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  border: 1px #cdcdcd solid;
  border-width: 0 0 1px 1px;
  background-color: #fffdd5;
  margin: 4px -13px;
}
.recent_month .inner .order_form .order_header .order_wrapper .retrun {
  float: left;
  margin-left: 20px;
  margin-top: 7px;
}
.recent_month .inner .order_form .order_header .order_wrapper .retrun a {
  color: #08c;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
}
.recent_month .inner .order_form .order_header .order_wrapper .retrun a:hover {
  text-decoration: underline;
}
.recent_month .inner .order_form .order_header .order_wrapper .same_again {
  margin: 6px -6px 0 0;
  float: right;
}
.recent_month .inner .order_form .order_header .order_wrapper .same_again a {
  display: inline-block;
  width: 86px;
  height: 26px;
  margin-right: 4px;
  line-height: 26px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(270deg, #ffffff, #f5f5f5);
  background-image: linear-gradient(180deg, #ffffff, #f5f5f5);
}
.recent_month .inner .order_form .order_header .order_wrapper .same_again a:hover {
  border-color: #5eb127;
  background: #65cc38;
  color: white;
  text-shadow: 0 1px 1px #51a32d;
}
.recent_month .inner .order_form .order_header .order_wrapper .same_again a i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../../images/sprites.png") no-repeat 0 -280px;
  vertical-align: middle;
  margin-left: 7px;
}
.recent_month .inner .order_form .order_header .order_wrapper .same_again a span {
  display: inline-block;
  color: #666;
  text-align: center;
}
.recent_month .inner .order_form .order_header .order_pre {
  margin-top: 10px;
  margin-left: 15px;
}
.recent_month .inner .order_form .order_header .order_pre p {
  color: #08c;
  font-size: 14px;
}
.recent_month .inner .order_form .order_header .order_table {
  margin-top: 10px;
  margin-left: 10px;
}
.recent_month .inner .order_form .order_header .order_table td {
  background: 0;
  border: 0;
  padding: 4px 5px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  width: 202px;
}
.recent_month .inner .order_form .order_header .order_table td span {
  font-weight: bold;
}
.recent_month .inner .order_form .order_header .order_table td a {
  color: #08c;
  text-decoration: none;
}
.recent_month .inner .order_form .order_header .order_table td a:hover {
  text-decoration: underline;
}
.recent_month .inner .order_form .order_evaluate {
  background: #f9f9f9;
}
.recent_month .inner .order_form .order_evaluate .content {
  overflow: hidden;
}
.recent_month .inner .order_form .order_evaluate .content p {
  margin: 0;
  padding: 0;
  min-width: 170px;
  float: left;
  line-height: 45px;
  margin-left: 25px;
}
.recent_month .inner .order_form .order_evaluate .content .col_content {
  float: left;
  width: 150px;
  height: 20px;
  margin: 15px 20px 0;
}
.recent_month .inner .order_form .order_evaluate .content .col_content .slider_wrapper .slider {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #a6c9e2;
  background: #fcfdfd 50% bottom repeat-x;
  color: #222;
  height: 12px;
}
.recent_month .inner .order_form .order_evaluate .content .col_content .slider_wrapper .slider .slider_wrapper_range {
  border: 1px solid #4297d7;
  background-color: #0099CC;
  color: #fff;
  font-weight: bold;
  height: 10px;
}
.recent_month .inner .order_form .order_evaluate .content .col_value {
  float: left;
  line-height: 45px;
}
.recent_month .inner .order_form .order_evaluate .content .col_value span {
  line-height: 45px;
}
.recent_month .inner .order_form .order_evaluate .content .col_btn {
  float: left;
  margin-left: 20px;
  padding-top: 7px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content {
  overflow: hidden;
  float: left;
  line-height: 45px;
  padding-right: 20px;
  padding-left: 10px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label {
  overflow: hidden;
  float: left;
  line-height: 45px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label label {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
  line-height: 18px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label label input {
  display: inline-block;
  margin: 0 4px 0;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label label i {
  background: url("../../../images/sprites.png") no-repeat;
  width: 18px;
  height: 18px;
  line-height: 14px;
  vertical-align: text-top;
  display: inline-block;
  margin-right: 5px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label label i.rank1 {
  background-position: 0 -360px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label label i.rank2 {
  background-position: -20px -360px;
}
.recent_month .inner .order_form .order_evaluate .content .order_content .order_label label i.rank3 {
  background-position: -40px -360px;
}
.recent_month .inner .order_form .order_wrpper {
  margin: 10px 10px 10px 20px;
}
.recent_month .inner .order_form .order_wrpper table {
  width: 100%;
}
.recent_month .inner .order_form .order_wrpper table tbody tr:nth-child(odd) {
  background-color: #F9F9F9;
}
.recent_month .inner .order_form .order_wrpper table tbody tr:hover {
  background-color: #F5F5F5;
}
.recent_month .inner .order_form .order_wrpper table tr {
  border-bottom: 1px solid #ddd;
}
.recent_month .inner .order_form .order_wrpper table th {
  font-size: 14px;
}
.recent_month .inner .order_form .order_wrpper table tfoot tr {
  border: 0;
}
.recent_month .inner .order_form .order_wrpper th,
.recent_month .inner .order_form .order_wrpper td {
  padding: 8px;
  text-align: center;
  line-height: 18px;
}
.recent_month .inner .order_form .order_wrpper th.name,
.recent_month .inner .order_form .order_wrpper td.name {
  width: 35%;
  text-align: left;
}
.recent_month .inner .order_form .order_wrpper th.rating,
.recent_month .inner .order_form .order_wrpper td.rating {
  width: 27%;
}
.recent_month .inner .order_form .order_wrpper th.rating div input,
.recent_month .inner .order_form .order_wrpper td.rating div input {
  display: none;
}
.recent_month .inner .order_form .order_wrpper th.rating div div,
.recent_month .inner .order_form .order_wrpper td.rating div div {
  cursor: pointer;
  width: 16px;
  height: 15px;
  float: left;
  text-indent: -999999px;
  position: relative;
  background: url("../../../images/star.gif") no-repeat 0 -32px;
}
.recent_month .inner .order_form .order_wrpper th.rating div div.mouseover div,
.recent_month .inner .order_form .order_wrpper td.rating div div.mouseover div {
  background-position: 0 0;
}
.recent_month .inner .order_form .order_wrpper th.rating div div div,
.recent_month .inner .order_form .order_wrpper td.rating div div div {
  left: 18px;
}
.recent_month .inner .order_form .order_wrpper th.rating .rating_text,
.recent_month .inner .order_form .order_wrpper td.rating .rating_text {
  margin-left: 95px;
  text-align: left;
}
.recent_month .inner .order_form .order_wrpper th.rating .content,
.recent_month .inner .order_form .order_wrpper td.rating .content {
  color: #999;
}
.recent_month .inner .order_form .order_wrpper th.price,
.recent_month .inner .order_form .order_wrpper td.price {
  width: 13%;
}
.recent_month .inner .order_form .order_wrpper th.num,
.recent_month .inner .order_form .order_wrpper td.num {
  width: 10%;
}
.recent_month .inner .order_form .order_wrpper th.sub,
.recent_month .inner .order_form .order_wrpper td.sub {
  width: 13%;
}
